.heading 
{
    font-size: 30px;
    color: white;
    width: 100%;
    margin: 0px;
    box-shadow: 5px  5px  7px rgb(245, 152, 129);
    background-color: rgb(255, 176, 123);
    padding-bottom: 20px;
    padding-top: 10px;
}

.note 
{
 font-size: 15px;
 color: black;
}
.copy_right_footer 
{
    position: fixed;
    color: white;
    bottom: 0;
    width: 100%;
    background-color: grey;
    line-height: 4;
    text-align: center;
}

canvas 
{
    border:5px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
}